#button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    height: 100vh;
}

#button-div button {
    min-width: 150px;
    height: 150px;
    font-size: large;
    flex: 0 1;
    background-color: red;
}